body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.canvas-container {
  margin: 20px auto;
  border-radius: 8px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: center;
}

.quote {
  color: #63635f;
  line-height: 1.5;
  font-size: 1.5rem;
}

.emphasis {
  color: red;
  font-size: 2rem;
}

.author {
  font-size: 1.1rem;
  text-align: right;
  font-style: italic;
}

.recognized-digit {
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  flex-direction: column;
  text-align: left;
  background: #ededdd;
  padding: 40px;
  border-radius: 20px;
  max-width: 60svw;
}

canvas {
  border: 2px solid #333;
  border-radius: 8px;
  cursor: crosshair;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#clearBtn {
  background-color: #ff4444;
  color: white;
}

#recognizeBtn {
  background-color: #44aa44;
  color: white;
}

button:hover {
  opacity: 0.9;
}
